.profile__img {
    width: 100%;
    height: 300px;
}

.item {
    padding-left: 20px;
}

.userAvatar {
    width: 150px;
    height: auto;;
}

.profileWrapper {
    padding: 20px 0px 0px 20px;
}

.contacts {
    padding-left: 10px;
}